<div class="page">

    <div *ngFor="let f of feedback,index as fi">
        <h1>{{f.label}}</h1><br /> 
        <div class="row text-left" *ngFor="let q of f.questions,index as i">
            <div class="col" ><span *ngIf="i!=0">{{i}} . {{q.question}}</span></div>
            <div class="col-3" >
                <div style="display:flex ;" *ngIf="i==0">
                    <div style="margin-left:2rem ;display: flex;" *ngFor="let r of rate">{{r}}</div>
                </div>
                <br>
                <div *ngIf="i!=0"  style="margin-top: 1px;">
                <input  type="radio" [name]="i" style="margin-left:1.8rem ;" *ngFor="let r of rate" [value]="r"
                    (click)="display(fi,i,r)">
                    </div>
            </div>
        </div>
        <br />
    </div>

</div>