<div class="m-0 center page">
    <div class="card shadow" [formGroup]="loginForm">
        <div class="centerAlignment">
            <h1><strong>Login</strong></h1>
            <span style="font-size: 0.9rem;">Hey , Enter your details to get sign in to your account
            </span>
        </div>
        <br />
        <div *ngIf="formError!=''" class="danger centerAlignment"> <strong style="color: black;">{{formError}}</strong>
            <br />
        </div>
        <label>Email</label>
        <input formControlName="mail" (click)="clear()" class="form-control shadow-none" type="text" />
        <span class="danger" *ngIf="loginForm.controls['mail'].status=='INVALID' && submitted">Enter a valid
            mail</span>
        <br />
        <label>Password</label>
        <span class="form-control" style="display: flex;">
            <input formControlName="password" class="empty form-control shadow-none"
                [type]="(vepa) ? 'text':'password'" />
            <i [class]="(vepa)?'bx bxs-show' : 'bx bxs-hide'" (click)="vepa=!vepa"></i>
        </span>
        <strong style="display: flex;float:right;margin-left: 62%;margin-top: 1%;">Forget Password ?</strong>
        <br />
        <button class="btn" (click)="signIn()">Sign In</button>
        <br />
        <div class="centerAlignment">
            <span class="pointer" [routerLink]="['/signup']">Don't have an account ? sign Up</span>
        </div>
    </div>

</div>