<div class="page">
    <div class="row m-0  boxShadow important">

        <div class="col">
            <img [src]="logoPath" class="pt-3 pb-3" style="width:10vw;" />
        </div>

        <div class="col row m-0 important centerAlignment" style="padding-top: 1rem;">
            <strong class="col pointer" routerLinkActive="active" routerLink="/student/task"> Tasks </strong>
            <!-- <strong class="col pointer" routerLinkActive="active" routerLink="/student/feedback"> Feedback </strong> -->
            <strong class="col pointer" routerLinkActive="active" routerLink="/student/submissions"> Submissions
            </strong>

            <div ngbDropdown class="col">
                <!-- **here** -->
                <button class="btn btn-danger mode" id="dropdownBasic1" ngbDropdownToggle><i
                        class='bx bxs-user'></i></button>
                <div ngbDropdownMenu class="text-center">
                    <strong> {{rollnumber}}</strong>
                    <button ngbDropdownItem (click)="clearStorage()" routerLink="/wb">Sign out</button>
                </div>
            </div>


            <div class="col pointer">
                <button (click)="toggleLightTheme()" class="btn mode">
                    <i [class]="themeButtonStatus"></i>
                </button>
            </div>

           
        </div>
    </div>

    <div class="centerAlignment subChildComponent">
        <router-outlet></router-outlet>
    </div>
</div>