<div class="center">
    <div class="card">
        <form [formGroup]="changePassword" (ngSubmit)="changePasswordSubmit()">
            <label style="color: black;font-size:lar">Old Password</label>
            <div class="form-control shadow-none" style="display: flex;">
                <input style="border: none;outline: none;width: 100%;" placeholder="old password"
                    [type]="oldPasswordData ? 'text' : 'password'" name="password" formControlName="oldPassword"
                    required />
                <i style="font-size: 1.4rem; margin-top: 0.2rem;" *ngIf="!oldPasswordData"
                    (click)="oldPasswordData=!oldPasswordData" class='bx bxs-hide'></i>
                <i style="font-size: 1.4rem; margin-top: 0.2rem;" *ngIf="oldPasswordData"
                    (click)="oldPasswordData=!oldPasswordData" class='bx bxs-show'></i>
            </div>
            <span style="color: #a5081a;font-size:0.8rem;font-weight: bold;"
                *ngIf="changePasswordValidation==true
                 && changePassword.controls['oldPassword'].errors ">
                <span *ngIf="changePassword.controls['oldPassword'].errors?.required">
                    enter valid password
                </span>
            </span><br />
            <label style="color: black;font-size:lar">New Password</label>
            <div class="form-control shadow-none" style="display: flex;">
                <input style="border: none;outline: none;width: 100%;" placeholder="new password"
                    [type]="newPasswordData ? 'text' : 'password'" name="password" formControlName="newPassword"
                    required />
                <i style="font-size: 1.4rem; margin-top: 0.2rem;" *ngIf="!newPasswordData"
                    (click)="newPasswordData=!newPasswordData" class='bx bxs-hide'></i>
                <i style="font-size: 1.4rem; margin-top: 0.2rem;" *ngIf="newPasswordData"
                    (click)="newPasswordData=!newPasswordData" class='bx bxs-show'></i>
            </div>
            <span style="color: #a5081a;font-size:0.8rem;font-weight: bold;" *ngIf="changePasswordValidation==true
             && changePassword.controls['newPassword'].errors ">
                <span *ngIf="changePassword.controls['newPassword'].errors?.required">
                    enter valid password
                </span>
                <span *ngIf="changePassword.controls['newPassword'].errors?.pattern">
                    It must include atleast one special character, one alphabet and one numeric values
                </span>
                <span
                    *ngIf="changePassword.controls['newPassword'].errors?.minlength && !changePassword.controls['newPassword'].errors?.pattern">
                    password must be greater than
                    {{changePassword.controls['newPassword'].errors?.minlength.requiredLength}} length
                </span>
                <span
                    *ngIf="changePassword.controls['newPassword'].errors?.maxlength && !changePassword.controls['newPassword'].errors?.pattern">
                    password must not be greater than
                    {{changePassword.controls['newPassword'].errors?.maxlength.requiredLength}} length
                </span>
            </span><br />
            <label style="color: black;font-size:lar">Confirm Password</label>
            <div class="form-control shadow-none" style="display: flex;">
                <input style="border: none;outline: none;width: 100%;" placeholder="confirm password"
                    [type]="confirmPasswordData ? 'text' : 'password'" name="password" formControlName="confirmPassword"
                    required />
                <i style="font-size: 1.4rem; margin-top: 0.2rem;" *ngIf="!confirmPasswordData"
                    (click)="confirmPasswordData=!confirmPasswordData" class='bx bxs-hide'></i>
                <i style="font-size: 1.4rem; margin-top: 0.2rem;" *ngIf="confirmPasswordData"
                    (click)="confirmPasswordData=!confirmPasswordData" class='bx bxs-show'></i>
            </div>
            <span style="color: #a5081a;font-size:0.8rem;font-weight: bold;" *ngIf="changePasswordValidation==true
             && changePassword.controls['confirmPassword'].errors">
                <span *ngIf="changePassword.controls['confirmPassword'].errors?.required">
                    enter valid password
                </span>
                <span *ngIf="changePassword.controls['confirmPassword'].errors?.mustMatch ">
                    New Password and Confirm Password should be same
                </span>
            </span><br />
            <button class="btn" style="margin-left:30%" type="submit">Chnage Password</button>
        </form>
    </div>
</div>