<div class=" m-0 center page">
    <div class="card">
        <div class="centerAlignment">
            <h1><strong>Sign Up</strong></h1>
            <span style="font-size: 0.9rem;">Hey , Enter your details to get sign in to your account . </span>
        </div><br />
        <div *ngIf="viewForm else viewOtp">
            <form [formGroup]="signUpForm">
                <strong *ngIf="formError" class="danger">{{formError}}<br /></strong>
                <div class="row">
                    <div class="col"><label>Name</label>
                        <input formControlName="name" class="form-control shadow-none" type="text" />
                        <span class="danger" *ngIf="signUpForm.controls['name'].status=='INVALID' && submitted">Enter a
                            valid
                            name</span>
                        <br />
                    </div>
                    <div class="col">
                        <label>Rollnumber</label>
                        <input [readOnly]="true" formControlName="rollnumber" class="form-control shadow-none"
                            type="text" />
                        <span class="danger"
                            *ngIf="signUpForm.controls['rollnumber'].status=='INVALID' && submitted">Enter
                            a
                            valid
                            rollnumber</span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Mobile</label>
                        <input formControlName="mobile" class="form-control shadow-none" type="text" />
                        <span class="danger" *ngIf="signUpForm.controls['mobile'].status=='INVALID' && submitted">Enter
                            a
                            valid
                            mobile number</span>
                        <br />
                    </div>
                    <div class="col">
                        <label>Course</label>
                        <select class="form-select shadow-none" formControlName="course" style="color: black;">
                            <option value="" disabled>Click to select</option>
                            <option [value]="c.value" style="color: black;" *ngFor="let c of course">{{c.label}}
                            </option>
                        </select>
                        <span class="danger" *ngIf="signUpForm.controls['course'].status=='INVALID' && submitted">Select
                            a valid
                            course</span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Year</label>
                        <select class="form-select shadow-none" formControlName="year" style="color: black;">
                            <option value="" disabled>Click to select</option>
                            <option [value]="c.value" style="color: black;"
                                *ngFor="let c of courseDetails[signUpForm.value.course]">{{c.label}}</option>
                        </select>
                        <span class="danger" *ngIf="signUpForm.controls['year'].status=='INVALID' && submitted">Select a
                            valid
                            year</span>
                        <br />
                    </div>
                    <div class="col">
                        <label>Department</label>
                        <select class="form-select shadow-none " formControlName="department" style="color: black;">
                            <option value="" disabled>Click to select</option>
                            <option [value]="c.value" style="color: black;"
                                *ngFor="let c of branch[signUpForm.value.course]">{{c.label}}</option>
                        </select>
                        <span class="danger"
                            *ngIf="signUpForm.controls['department'].status=='INVALID' && submitted">Select
                            a
                            valid
                            department<br /></span>
                        <br />
                    </div>
                </div>

                <label>Password</label>
                <span class="form-control" style="display: flex;">
                    <input [type]="(vepa1) ? 'text':'password'" formControlName="password"
                        class="empty form-control shadow-none" />
                    <i [class]="(vepa1)?'bx bxs-show' : 'bx bxs-hide'" (click)="vepa1=!vepa1"></i>
                </span>
                <span class="danger" *ngIf="signUpForm.controls['password'].status=='INVALID' && submitted">Enter a
                    valid
                    password</span>
                <br />


                <label>Confirm Password</label>
                <span class="form-control" style="display: flex;">
                    <input formControlName="confirmPassword" class="empty form-control shadow-none"
                        [type]="(vepa2) ? 'text':'password'" />
                    <i [class]="(vepa2)?'bx bxs-show' : 'bx bxs-hide'" (click)="vepa2=!vepa2"></i>
                </span>
                <span class="danger" *ngIf="signUpForm.controls['confirmPassword'].status=='INVALID' && submitted">Enter
                    valid
                    password<br />
                </span>
                <br />



                <button class="btn" (click)="signUp()">Sign Up</button>
                <br />
                <div class="centerAlignment">
                    <span class="pointer" [routerLink]="['/wb']">Have an account ? sign In</span>
                </div>

            </form>
        </div>
        <ng-template #viewOtp>
            <div *ngIf="formError!=''" class="danger centerAlignment"> <strong>{{formError}}</strong>
                <br />
            </div>
            <label>Rollnumber</label>
            <input (click)="clearStatus()" [disabled]="resOtp!=''" [(ngModel)]="rollnumber"
                class="form-control shadow-none" type="text" />
            <span class="danger" *ngIf="invalidRoll">Enter
                a
                valid
                rollnumber</span>
            <br />
            <div *ngIf="resOtp!=''">
                <label>OTP</label>
                <input (click)="clearStatus()" [(ngModel)]="enterOtp" class="form-control shadow-none" type="text" />
                <span class="danger" *ngIf="invalidOtp">Enter
                    a
                    valid
                    otp</span>
            </div>
            <br />
            <button class="btn" *ngIf="resOtp=='' else otpView" (click)="getOtp()">{{buttonStatus}}</button>
            <ng-template #otpView>
                <button class="btn" (click)="verifyOtp()">{{otpButtonStatus}}</button>
            </ng-template><br />
            <div class="centerAlignment">
                <span class="pointer" [routerLink]="['/wb']">Have an account ? sign In</span>
            </div>
        </ng-template>



    </div>
</div>